@namespace ReactiveBlazor

@inherits BaseComponent

<style>
    .dynamic-tab {
        display: flex;
        flex-direction: column;
    }

    .dynamic-tab-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .dynamic-tab-footer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    button[tab-sheet-button] {
        display: flex;
        color: var(--blue-500);
        font-weight: 700;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: var(--blue-100);
        align-items: center;
        gap: 0.2rem;
    }

    .dynamic-tab-content {
        margin-block: 0.5rem;
        height: 60vh;
        padding: 1rem;
        border: 1px solid #dedede;
    }
</style>

<div class="dynamic-tab">
    @if (tabManager.Tabs.Any())
    {

        <div class="dynamic-tab-header">
            @foreach (var tab in tabManager.Tabs)
            {
                <button tab-sheet-button @onclick="() => OnActivateTab(tab)"
                        class="@(tab.IsActive ? "text-white bg-blue-500" : "")">
                    <span>@tab.Title</span>
                    <span role="button"
                    @onclick:stopPropagation
                    @onclick:preventDefault
                          @onclick="() => OnRemoveTab(tab)">
                        <svg width="20" height="20" viewBox="0 0 20 20"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M18 6l-12 12" />
                            <path d="M6 6l12 12" />
                        </svg>
                    </span>
                </button>
            }
        </div>

        <div>
            @foreach (var tab in tabManager.Tabs)
            {
                @if (tab.Disposable && tab.IsActive)
                {
                    <div>
                        @if (tab.Sheets.Any())
                        {
                            @foreach (var sheet in tab.Sheets)
                            {
                                if (sheet.IsActive)
                                {
                                    <DynamicComponent Type="@sheet.Content" />
                                }
                            }
                        }
                    </div>
                    <div class="dynamic-tab-footer">
                        @foreach (var sheet in tab.Sheets)
                        {
                            <button tab-sheet-button>@sheet.Title</button>
                        }
                    </div>
                }
                @if (!tab.Disposable)
                {
                    <div class="@(tab.IsActive ? "block" : "hidden")">
                        <div class="dynamic-tab-content">
                            @if (tab.Sheets.Any())
                            {
                                @foreach (var sheet in tab.Sheets)
                                {
                                    if (sheet.IsActive)
                                    {
                                        <DynamicComponent Type="@sheet.Content" />
                                    }
                                }
                            }
                        </div>
                        <div class="dynamic-tab-footer">
                            @foreach (var sheet in tab.Sheets)
                            {
                                <button tab-sheet-button @onclick="() => OnActivateSheet(sheet)"
                                        class="@(sheet.IsActive ? "text-white bg-blue-500" : "")">
                                    <span>@sheet.Title</span>
                                    <span role="button"
                                    @onclick:stopPropagation
                                    @onclick:preventDefault
                                          @onclick="() => OnRemoveSheet(sheet)">
                                        <svg width="20" height="20" viewBox="0 0 20 20"
                                             fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M18 6l-12 12" />
                                            <path d="M6 6l12 12" />
                                        </svg>
                                    </span>
                                </button>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

@code {

    [Inject] public TabManager tabManager { get; set; } = default!;

    protected override void OnInitialized()
    {
        tabManager.TabsChanged += StateHasChanged;
    }

    private void OnActivateTab(DynamicTabPanel tab)
    {
        tabManager.ActivateTab(tab);
    }

    private void OnActivateSheet(DynamicSheetPanel sheet)
    {
        tabManager.ActivateSheet(sheet);
    }

    private void OnRemoveTab(DynamicTabPanel tab)
    {
        tabManager.RemoveTab(tab);
    }

    private void OnRemoveSheet(DynamicSheetPanel sheet)
    {
        tabManager.RemoveSheet(sheet);
    }
}
